<!DOCTYPE html>
{% load static %}

<html>
<head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {% block title_block %}
    This Is Re:Sell
    {% endblock %}
  </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="{% static 'media/logo.ico' %}"/>
  {% block cssLink_block %}
  {% endblock %}
</head>
<body>
<div>
  {% block body_block %}
  {% endblock %}
</div>
</body>
</html>