{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Edit Profile</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{% static 'media/logo.ico' %}"/>
        <link href="{% static 'css/signup.css' %}" rel="stylesheet">
    </head>

    <body style="background-color:black">
        <div id="signupbg">
            <div id="signup">
                <div id="title">
                    <h1>Edit Profile</h1>
                </div>
                <div id="form">
                    <form method="post">
                        {% csrf_token %}
                        <div class="formfield">
                            <input placeholder = " " type="text" id="first_name" name="first_name" required>
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="formfield">
                            <input placeholder = " " type="text" id="last_name" name="last_name" required>
                            <label for="last_name">Last Name</label>
                        </div>
                        <div class="formfield">
                            <input placeholder = " " type="text" id="phone_number" name="phone_number" required>
                            <label for="phone_number">Phone Number</label>
                        </div>
                        <div class="button" role="button" id="submit" data-url="">
                            <div class="buttontext">
                                <p>Update</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="button" role="button" id="back" data-url="{% url 'index' %}">
                    <div class="buttontext">
                        <p>Home</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="{% static 'js/indexbg.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js" integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="{% static 'js/signup.js' %}"></script>
    </body>

</html>