{% extends 'resell/base.html' %}
{% load static %}

{% block title_block %}
    {{ product.name }}
{% endblock %}

{% block cssLink_block %}
    <link href="{% static 'css/item.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}
    <div id="itembg">
        {% if item %}
            <div class="product">
                <div class="product-image">
                    <img src="{{ MEDIA_URL}}{{ item.image }}" alt="Product Image" width="180" height="150" />
                </div>
                <div class="product-info">
                    <h1 class="product-name">{{ item.name }}</h1>
                    <p class="product-description">{{ item.description }}</p>
                    <p class="product-price">£{{ item.price }}</p>
                    <p class="product-condition">{{ item.condition }}</p>
                    <p class="product-category">{{ item.category }}</p>
                    {% if inwishlist %}
                        <div class="inactivebutton" id="wishlistbutton" role="button" data-url="">
                            <p>Already in Wishlist</p>
                        </div>
                    {% else %}
                        <div class="button" id="wishlistbutton" role="button" data-url="{% url 'itemaddsuccess' item.product_id %}">
                            <p>Add to Wishlist</p>
                        </div>
                    {% endif %}
                    <p class="product-seller">Sold By: {{ seller.username }}</p>
                    <div class="button" id="sellerbutton" role="button" data-url="{% url 'profile' seller.user_id %}">
                        <div class="buttontext">
                            <p>Profile</p>
                        </div>
                    </div>
                </div>
                {% if ownitem %}
                    <h1 id="cantbuy">Can't Buy Own Item</h1>
                {% elif not loggedin %}
                    <h1 id="cantbuy">You must be logged in to purchase</h1>
                {% else %}
                    <div class="formfield">
                        <select id="paymentoption" name="paymentoption" required>
                            <option value="Card">Card</option>
                            <option value="Cash">Cash</option>
                            <option value="PayPal">PayPal</option>
                        </select>
                        <label class="dropdownlabel" for="paymentoption">Payment Option</label>
                        <form method="post">
                            <div class="button" role="button" id="purchase" data-url="{% url 'purchasesuccess' %}">
                                <div class="buttontext">
                                    <p>Purchase</p>
                                </div>
                            </div>
                        </form>

                    </div>
                {% endif %}
            </div>
        {% else %}
            <h1 id="notfound">This Item Does Not Exist...</h1>
        {% endif %}
        <div class="button" role="button" id="back" data-url="{% url 'listings' %}">
            <div class="buttontext">
                <p>Back</p>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="{% static 'js/indexbg.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js" integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/profile.js' %}" async defer></script>
{% endblock %}