{% extends 'resell/base.html' %}
<!DOCTYPE html>

{% load static %}


    {% block title_block %}
        Item
    {% endblock %}

    {% block cssLink_block %}
    {% endblock %}

    {% block body_block %}

        <form method="get">
            {% for field in form %}
                {{ field.label }}
                {{ field }}
                {% if field.label == "Search" %}
                    <button type="submit">
                        Search
                    </button>
                {% endif %}
                <br>
            {% endfor %}
            <button type="submit">Filter</button>
        </form>

        {% for product in products %}
            <div>
                <a href="{% url 'item' product.product_id %}">{{ product.name }}</a><br>
                <img src="{{ MEDIA_URL}}{{ product.image }}" alt="Product Image" height="150" />
                <p>£{{ product.price }}</p>
            </div>
        {% empty %}
            <p>Sorry, no listings found.</p>
        {% endfor %}


    {% endblock %}
</html>