{% extends 'resell/base.html' %}
<!DOCTYPE html>

{% load static %}


    {% block title_block %}
        Item
    {% endblock%}

    {% block body_block %}
        
        <form method="get">
            {{ form.as_p }}
            <button type="submit">Filter</button>
        </form>

        {% for product in products %}
            <div>
                <a href="{% url 'item' product.product_id %}">{{ product.name }}</a><br>
                <img src="{{ MEDIA_URL}}{{ product.image }}" alt="Product Image" height="150" />
                <p>£{{ product.price }}</p>
            </div>
        {% empty %}
            <p>Sorry, no listings found.</p>
        {% endfor %}


    {% endblock %}
</html>