<!DOCTYPE html>
{% load static %}


<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{% static 'media/logo.ico' %}"/>
        <link href="{% static 'css/login.css' %}" rel="stylesheet">
    </head>

    <body style="background-color:black">
        <div id="loginbg">
            <div id="login">
                <div id="title">
                    <h1>Customer Login</h1>
                </div>
                <div class="item" id="desc">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="button" role="button" id="submit" data-url="">
                            <div class="buttontext">
                                <p>Log In</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="item" id="signup">
                    <div id="textsection">
                        <p>Don't Have An Account?</p>
                    </div>
                    <div id="signup">
                        <div class="button" role="button" id="signupbutton" data-url="{% url 'signup' %}">
                            <div class="buttontext">
                                <p>Sign Up</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button" role="button" id="back" data-url="{% url 'index' %}">
                    <div class="buttontext">
                        <p>Home</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="{% static 'js/indexbg.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js" integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="{% static 'js/login.js' %}"></script>
    </body>

</html>