{% extends 'resell/base.html' %}
{% load static %}


    {% block title_block %}
        Listings
    {% endblock %}

    {% block body_block %}
    {% if user %}
        <p>Wishlist for: {{ user.username }}</p>
        {% for item in wishlist %}
            <p>{{ product.name }}</p>
            <img src="{{ MEDIA_URL}}{{ product.image }}" alt="Product Image" height="150" />
            <p id="price">£{{ product.price }}</p>
        {% empty %}
            <p>{{ user.username }} has nothing in their wishlist</p>
        {% endfor %}
    {% else %}
        <p>This user does not exist</p>
    {% endif %}

    {% endblock %}