.text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.load{
    position: fixed;
    top:-95%; right:-100%; left:-100%; bottom:-100%;
    margin:auto;
    z-index:0;
    border: 2px solid #000;
    border-top: 2px solid #fff;
    border-radius: 50%;
    width:60px;
    height:60px;
    animation: spin 1.3s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}