 #profilebg {
    position: fixed;
    width: 100%;
    height: 100vh;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f2f2f2;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    position: absolute;
    bottom: 55%;
    left: 47%;
    transform: translate(-50%, 50%);
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: greenyellow;
    border-radius: 5px;
    text-align: center;
    overflow-y: scroll;
    scale: 0.85;
}

#notfound {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile h1 {
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 10px;
}

.profile p {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    pointer-events: none;
}

.items {
    margin-top: 20px;
    margin-bottom: 90px;
}

.items h2 {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.profilebutton {
    position: relative;
    background-color: black;
    height: 30px;
    width: 100px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    cursor: pointer;
}

.profilebutton::before {
    position: absolute;
    border-radius: inherit;
    left: 0px;
    top: 0px;
    z-index: 4;
    opacity: 0.1;
    transition: opacity 500ms;
    border: 1px solid black;
}

.profilebutton:hover::before {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255,255,255,0.12), transparent 40%);
    opacity: 1;
    border: 1px solid white;
}

.buttontext {
    position: relative;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.button {
    position: relative;
    background-color: black;
    height: 60px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    transform: translateX(-50%);
    margin-top: 150px;
}

.button::before {
    position: absolute;
    border-radius: inherit;
    content: "";
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 2;
    opacity: 0.1;
    transition: opacity 500ms;
    border: 1px solid white;
}

.button:hover::before {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255,255,255,0.12), transparent 40%);
    opacity: 1;
    border: 1px solid greenyellow;
}

::-webkit-scrollbar {
    opacity: 0;
}

img {
    margin: 0 auto;
}

#twobuttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    left: 40%;
    bottom: 15%;
    width: 30%;
}

#twobuttons p {
    position: relative;
    color: white;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#onebutton {
    position: absolute;
    left: 50%;
    bottom: 15%;
}